<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col s10">
            <h1>Главная страница</h1>
        </div>
        <div class="col s2" style="margin-top: 60px;">
            <a class="waves-effect waves-light btn-small" href="/new">Создать анекдот</a>
            {{if main.sess}}
            <a class="waves-effect waves-light btn-small" href="/login">Авторизация</a>
            {{endif}}
        </div>
    </div>
    <div class="row">
        <div class="col s9 section">
            {% for item in main %}
            {% if item.showing %}
            <div class="col s3">
                <h3> {{item.title}} </h3>
                <p> {{item.description}} </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col s3 section">

        </div>
    </div>

</body>

</html>